{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "loose": true
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "react-loadable/babel"
  ]
}
